<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
</head>
<body>
{% extends "main.html" %}
{% block content %}

<ul>
{% for produit in produits %}
    <li>{{ produit.nom_produit }} - prix : {{ produit.prix }}€ <a href="/magasin/affiche_produit/{{produit.id}}/">affiche</a> <a href="/magasin/update_produit/{{produit.id}}/">update</a> <a href="/magasin/delete_produit/{{produit.id}}/">delete</a></li>
{% empty %}
    <li>Aucun produit trouvé.</li>
{% endfor %}
</ul>
<a href="/magasin/ajout_produit/{{id}}/">ajouter un produit</a>
{% endblock %}
</body>
</html>